.card .image{
    position: relative;
}
.card .card-btns{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
}
.card:hover .card-btns,
.card:focus .card-btns{
    opacity: 1;
}